.submit input,
.clear input {
  background: var(--primary-color);
  border: none;
  outline: none;
  color: #fff;
  width: 90%;
  padding: 1rem 0;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem auto;
  display: block;
}

.divider {
  height: 5px;
  background: var(--primary-color);
}

.result_box {
  border: 1px solid #000;
  margin: 2rem 0;
  padding: 1rem;
}
