.txt {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.table {
  margin: 1rem 0;
}

.txt h3 {
  margin-bottom: 1rem;
}

.table table tr th {
  padding: 0.5rem 1.5rem;
  font-size: 16px;
  border: 1px solid #ccc;
}

.table table tr td {
  text-align: center;
  padding: 0.5rem 0;
  border: 1px solid #ccc;
}

@media (max-width: 599px) {
  .table {
    display: flex;
    justify-content: center;
  }
}
